@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@300;400&display=swap");

:root {
  --color-white: #fff;
  --color-dark: #000000;
  --color-port1: #165b64;
  --color-port2: #000c3b;
  --color-port3: #151515;
  --color-port4: #91afb5;
  --color-port5: #e6e6ec;
  --color-port6: #7b2afd;
  --color-port7: #05d3ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--color-dark);
}

/*navigation bar*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
  width: 100%;
  background: var(--color-port3);
  transition: all 0.5;
  position: fixed;
  z-index: 2;
}
.logo img {
  width: 10rem;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
}
.navigation ul li a {
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s;
}
.navigation ul li a:hover {
  color: var(--color-port6);
}
/*End navigation bar*/
/*menu responsive*/
.menu {
  cursor: pointer;
  display: none;
}

.menu .bar {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-white);
  margin: 5px auto;
  transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
  background: var(--color-port4);
}
/*End menu responsive*/
/*main*/
.intro {
  width: 100%;
  height: 100vh;
  padding: 5rem;
  text-align: center;
}
.intro-text {
  padding: 1.25rem;
  margin-top: 2.5rem;
}
.intro h1 {
  font-size: 4.4rem;
  line-height: 9.4rem;
  color: var(--color-port2);
}
.intro h4 {
  font-size: 1.9rem;
  color: var(--color-port1);
}
.intro p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-justify: distribute-all-lines;
  text-align: center;
  font-weight: bold;
  color: var(--color-port1);
}

.icons-intro {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-intro ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.icons-intro ul li {
  list-style: none;
  margin: 0 5px;
}
.icons-intro ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 45px;
  color: var(--color-port2);
  transition: 0.5s;
}
.icons-intro ul li a:hover {
  color: #fff;
  z-index: 0;
}
.icons-intro ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-port4);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.icons-intro ul li a:hover:before {
  transform: scale(1);
}
.icons-intro ul li:nth-child(1) a:hover:before {
  background: #171515;
}
.icons-intro ul li:nth-child(2) a:hover:before {
  background: #0e76a8;
}
.icons-intro ul li:nth-child(3) a:hover:before {
  background: #053eff;
}

.about {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  background: var(--color-port2);
}
.about-text {
  padding: 1.25rem;
  margin: 3.2rem;
}
.about-text h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: var(--color-port5);
  text-align: center;
}
.about-text p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-justify: distribute-all-lines;
  text-align: justify;
  color: var(--color-white);
}
.icons-about {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons-about ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.icons-about ul li {
  list-style: none;
  margin: 0 5px;
}
.icons-about ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 45px;
  color: var(--color-white);
  transition: 0.5s;
}
.icons-about ul li a:hover {
  color: #fff;
  z-index: 0;
}
.icons-about ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-white);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}
.icons-about ul li a:hover:before {
  transform: scale(1);
}
.icons-about ul li:nth-child(1) a:hover:before {
  background: #f24a1c;
}
.icons-about ul li:nth-child(2) a:hover:before {
  background: #0170ba;
}
.icons-about ul li:nth-child(3) a:hover:before {
  background: #ffdf00;
}
.icons-about ul li:nth-child(4) a:hover:before {
  background: #f05033;
}
.projects {
  width: 100%;
  height: 100vh;
  display: block;
  align-items: center;
  padding: 3.75rem;
}
.projects-text {
  padding: 1.25rem;
  margin: 3rem;
}
.projects-text h2 {
  font-size: 2.25rem;
  color: var(--color-port2);
  text-align: center;
}
.projects-text p {
  font-size: 1.5rem;
  text-justify: distribute-all-lines;
  text-align: center;
  color: var(--color-port3);
}
.projects-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.2rem;
}
.projects1 h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color-port3);
  text-align: center;
}
.projects1 img {
  width: 500px;
  height: auto;
  border: 1px solid var(--color-port3);
  border-radius: 10px;
}
.projects1 p {
  margin-top: 10px;
  font-size: 1rem;
}
.projects2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects2 a {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color-port3);
  text-align: center;
}

.projects2 img {
  width: 500px;
  height: auto;
  margin-bottom: 10px;
}
.projects2 p {
  font-size: 1rem;
}

.contact {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  background: var(--color-port2);
}
.contact-text {
  padding: 1.25rem;
}
.contact-text h3 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: var(--color-white);
  text-align: center;
}
.contact-text p {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  text-justify: distribute-all-lines;
  text-align: center;
  color: var(--color-port5);
}
.conteiner form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.span-required {
  font-size: 0.75;
  margin: 1px 0 0 1px;
  color: var(--color-white);
  display: none;
  font-family: "Roboto";
}

.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid var(--color-port1);
  color: var(--color-dark);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "Roboto";
}

.inputs:focus {
  border-color: var(--color-port7);
}

.box-select {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  gap: 1rem;
}
.btn-contato {
  padding: 15px 45px;
  background: var(--color-port1);
  color: var(--color-port5);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s;
  font-size: 1.5rem;
}

.btn-contato:hover {
  background: var(--color-port6);
}
/*footer*/
.developer {
  padding: 1px;
  text-align: center;
}
.developer a {
  font-size: 1rem;
  color: var(--color-dark);
}

@media (max-width: 576px) {
  .navigation {
    padding: 18px 20px;
    width: 100%;
  }
  .logo img {
    align-items: center;
    max-width: 100px;
  }

  .menu {
    display: block;
    width: 100%;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-port2);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .navigation ul li a {
    font-size: 1.5rem;
  }
  .intro {
    padding: 50px 2%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .intro-text {
    text-align: center;
  }
  .intro-text h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .intro-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .navigation {
    padding: 18px 20px;
    width: 100%;
  }
  .menu {
    display: block;
    width: 100%;
  }
  .menu.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--color-port2);
    gap: -10px;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-item {
    margin: 16px 0;
  }
  .navigation ul li a {
    font-size: 1rem;
  }
  .intro {
    padding: 50px 2%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .intro-text {
    text-align: center;
  }
  .intro-text h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .intro-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .intro-text p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .icons-intro {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-intro ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .icons-intro ul li {
    list-style: none;
    margin: 0 5px;
  }
  .icons-intro ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 35px;
    color: var(--color-port2);
    transition: 0.5s;
  }
  .icons-intro ul li a:hover {
    color: #fff;
    z-index: 0;
  }
  .icons-intro ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-port4);
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  .icons-intro ul li a:hover:before {
    transform: scale(1);
  }
  .icons-intro ul li:nth-child(1) a:hover:before {
    background: #171515;
  }
  .icons-intro ul li:nth-child(2) a:hover:before {
    background: #0e76a8;
  }
  .icons-intro ul li:nth-child(3) a:hover:before {
    background: #053eff;
  }
  .about {
    padding: 50px 2%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .about-text p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .icons-about {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-about ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .icons-about ul li {
    list-style: none;
    margin: 0 5px;
  }
  .icons-about ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 45px;
    color: var(--color-white);
    transition: 0.5s;
  }
  .icons-about ul li a:hover {
    color: #fff;
    z-index: 0;
  }
  .icons-about ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-white);
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  .icons-about ul li a:hover:before {
    transform: scale(1);
  }
  .icons-about ul li:nth-child(1) a:hover:before {
    background: #f24a1c;
  }
  .icons-about ul li:nth-child(2) a:hover:before {
    background: #0170ba;
  }
  .icons-about ul li:nth-child(3) a:hover:before {
    background: #ffdf00;
  }
  .icons-about ul li:nth-child(4) a:hover:before {
    background: #f05033;
  }
  .projects {
    padding: 50px 2%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
    display: block;
  }
  .projects-text {
    text-align: center;
  }
  .projects-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .projects-text p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .projects-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .projects1 {
    align-items: center;
    margin-right: 3.2rem;
  }
  .projects1 h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-port3);
    text-align: center;
  }
  .projects1 img {
    width: 300px;
    height: auto;
    border: 1px solid var(--color-port3);
    border-radius: 10px;
  }
  .projects1 p {
    margin-top: 10px;
    font-size: 1rem;
  }
  .projects2 {
    flex-direction: column;
    align-items: center;
  }
  .projects2 a {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-port3);
    text-align: center;
  }

  .projects2 p {
    font-size: 1rem;
  }
}
